<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site Title</title>
    <link rel="stylesheet" href="/assets/dist/main.css" />
</head>

<body class="">
    <header class="bg-blue-500 py-4 px-6 flex justify-between items-center">
        <div class="ml-auto">
            <a href="/dashboard" class="text-white px-4 py-2 rounded-md bg-blue-700 hover:bg-blue-600">Dashboard</a>
        </div>
        <div>
            <a href="/logout" class="text-white px-4 py-2 rounded-md bg-red-700 hover:bg-red-600 ml-2">Logout</a>
        </div>
    </header>
    <div class="my-4">
        {% block content %}{% endblock %}
    </div>

    <script src=" ./assets/dist/main.bundle.js">
    </script>

</body>

</html>
