php_flag log_errors on
php_value error_log /var/www/html/logs/php_errors.log

# dev
php_flag display_errors on
php_value error_reporting -1

# prod
# php_flag display_errors off
# php_value error_reporting -1

<IfModule mod_rewrite.c>
    # enable rewrite engine
    RewriteEngine on

    # remove trailing slash if not a directory (redirect to non-trailing slash)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
